* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    /* height: 100%; */
}

body {
    background-color: black;
    color: white;
}

.logo {
    height: 49px;
    width: 27px;
}

/* .facebook {
    height: 18px;
    width: 8px;
    background-color: #FFFFFF;
} */

.ig {
    height: 20px;
    width: 20px;
}

.youtube {
    height: 17px;
    width: 22px;
}